* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira Mono', 'Courier New', Courier, monospace;
}

h1, p {
    color: #212121;
}
.container {
    display: flex;
    height: 100vh;
}
.name-container {
    width: 29%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

h1 {
    font-size: 80px;
    transform: rotate(-90deg);
    font-family: 'Share Tech Mono', 'Courier New', Courier, monospace;
}

h1 span.royc {
    width: 100%;
    display: inline-block;
}

main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
}

main p {
    padding-top: 20px;
}

main ul {
    padding-left: 0;
}
main li {
    list-style-type: none;
}

@media only screen and (max-width: 980px) {
    .container {
        display: block;
        width: 60%;
        margin: 0 auto;
        height: auto;
        padding: 25px 0;
    }

    .name-container, main {
        width: 100%;
    }

    h1 {
        transform: rotate(0deg);
        letter-spacing: 15px;
    }
    span.roft {
        width: 100%;
        display: inline-block; 
    }

    main ul {
        padding-top: 25px;
    }

}

@media only screen and (max-width: 419px) {
    .name-container {
        padding-top: 65px;
    }

    main {
        top: 65px;      
    }
    h1 {
        letter-spacing: initial;
    }
}

@media only screen and (min-width: 981px) {
    .name-container {
        position: relative;
        left: 40px;
    }
    h1 {
        font-size: 100px;
    }
    main {
        position: relative;
        top: 80px;
    }

    main ul {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 1210px) {

}